h1 {
  font-size: 2.3rem;
  margin: 0;
}

h3 {
  font-size: 0.7rem;
  margin: 0;
}

p {
  font-size: 0.874rem;
  margin: 0;
}

*, ::after, ::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Work Sans", sans-serif;
}

h1 {
  font-family: "Libre Baskerville", sans-serif;
  line-height: 45px;
  letter-spacing: 1px;
}

h3 {
  font-family: "Work Sans", sans-serif;
  text-transform: uppercase;
}

p {
  line-height: 20px;
}

@keyframes slidein {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
/*---------seccion header.-------*/
.header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 4rem;
  background-color: #ffffff;
}
.header a {
  font-size: 18px;
  padding-left: 0.9rem;
  vertical-align: middle;
  font-family: "Work Sans", sans-serif;
  color: #464989;
  text-decoration: none;
}
.header a span {
  font-weight: 800;
  color: #464989;
}

/*---------fin secion.-------*/
/*--------seccion aboutMe--------*/
.aboutMe, .skills, .goals {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  width: 100%;
  height: 100vh;
}
.aboutMe__titulo, .skills__titulo, .goals__titulo {
  color: #f79784;
  text-align: center;
}
.aboutMe__greting, .skills__subs, .goals__subs {
  color: #1f2044;
  text-align: center;
}
.aboutMe__greting span, .skills__subs span, .goals__subs span {
  background-color: rgba(247, 151, 132, 0.1);
}
.aboutMe__info {
  color: #234969;
  text-align: center;
}
.aboutMe__image img, .skills__image img {
  margin-top: 30px;
  width: 460px;
  height: 360px;
}

/*---------fin seccion---------*/
.goals {
  justify-content: space-evenly;
}
.goals__lista {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  grid-gap: 10px;
  justify-content: center;
}
.goals__lista .item {
  border-radius: 50px;
}
.goals__lista .item :hover img {
  animation-duration: 1s;
  animation-name: slidein;
  animation-timing-function: ease-in;
  will-change: transform;
  transition: all 0.2s;
}
.goals__lista .item img {
  width: 100%;
}

.skills {
  justify-content: space-evenly;
}
.skills__subs h1 {
  font-size: 2rem;
  letter-spacing: 0.1rem;
}